.social-programming {
  margin: 5% 0%;
  display: grid;
  justify-items: center;
}

.social-programming-title-grid {
  display: grid;
}

.social-programming-title {
  font-family: "Tajawal", sans-serif;
  text-align: center;
}

.social-programming-main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.social-programming-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4%;
  justify-items: center;
  width: 60%;
}

.social-programming-item {
  display: grid;
  justify-content: center;
  font-family: "Tajawal", sans-serif;
  text-align: justify;
}

.social-programming-item.title {
  text-align: center;
}

.social-link-img {
  width: 35%;
  justify-self: center;
}

.social-link-img:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 900px) {
  .social-programming-main-grid {
    grid-template-columns: 1fr;
  }
}
