.menu-grid {
  display: none;
}

.menu-button {
  width: 100%;
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
  position: absolute;
}

.menu-grid.is-open {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  position: fixed;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 8.5%;
  width: 50%;
  height: 20%;
  background-color: black;
}

.menu {
  align-items: center;
  position: relative;
  display: inline-block;
}

@media (min-width: 600px) {
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-items: space-evenly;
    justify-content: space-evenly;
    grid-gap: 5%;
  }

  .menu-button {
    display: none;
    text-decoration: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .navbar-item {
    transition: 0.2s ease;
    color: white;
    height: auto;
    text-decoration: none;
    font-style: bold;
    font-family: "Tajawal", sans-serif;
    font-size: 1em;
    z-index: 9999;
  }

  .navbar-item:hover {
    transform: scale(1.1);
    color: #2196f3;
  }
}
