.contact {
  margin-top: 5%;
  padding-bottom: 2%;
}

.contact-title-container {
  display: grid;
  justify-items: center;
}

.contact-title-item {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  width: 18%;
  color: black;
  border-bottom: 5px solid #2196f3;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7%;
}

.contact-item img:hover {
  transform: scale(1.2);
}

.contact-item.linked {
  display: grid;
  justify-items: end;
}

.contact-item img {
  width: 20%;
  height: auto;
}

h3 {
  font-family: "Tajawal", sans-serif;
}
@media only screen and (max-width: 900px) {
  .contact-title-item {
    width: 80%;
  }
}
