.navbar {
  background-color: white;
  opacity: 0.95;
  width: 100%;
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr 1fr;
  align-items: center;
  justify-items: stretch;
  grid-gap: 3%;
  z-index: 9999;
  border-bottom: 3px solid #2196f3;
}

.navbar-item {
  transition: 0.2s ease;
  color: black;
  height: auto;
  padding: 3% 10%;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
  font-style: bold;
  font-size: 110%;
}

.navbar img {
  width: 50%;
  height: auto;
}

.navbar-item:hover {
  transform: scale(1.2);
}

.laurenPane {
  color: black;
  font-family: "Tajawal", sans-serif;
  text-align: center;
}

@media (max-width: 600px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
