.skillsPage {
  margin-top: 5%;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 4%;
  padding: 2%;
  box-sizing: border-box;
}

.skills-item {
  display: grid;
  justify-items: center;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 20%;
}

.skills-item-img {
  width: 50%;
}

.skills-titleGrid {
  display: grid;
  justify-items: center;
}

.skills-title {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  width: 50%;
  color: black;
}

span {
  color: #2196f3;
}

@media only screen and (max-width: 900px) {
  .skillsPage .titleGrid {
    width: 80%;
  }
  .skillsPage {
    margin-top: 10%;
  }
  .skills-container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 8%;
    grid-gap: 5%;
  }

  .skills-title {
    width: 70%;
  }
}

@media only screen and (max-width: 550px) {
  .skills-container {
    grid-template-columns: 1fr 1fr;
  }
  .skills-item-img {
    width: 45%;
  }
}
