.skillsPage {
  background-color: black;
  margin-top: 5%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border: 3px solid #2196f3;
}

.skillsPage .skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 4%;
  padding: 2%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.skills-item-img {
  width: 40%;
  height: auto;
}

.skills-titleGrid {
  display: grid;
  justify-items: center;
}

.skills-title {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  width: 18%;
  padding: 1%;
  color: white;
  border-bottom: 5px solid #2196f3;
}

@media only screen and (max-width: 950px) {
  .skillsPage .titleGrid .title {
    width: 80%;
  }

  .skillsPage .skills-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .skillsPage .skills-container {
    grid-template-columns: 1fr;
  }
}
