.projectIntro {
  display: grid;
  grid-template-areas: "title" "kodflixLink" "projects";
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 20px;
  grid-gap: 30px;
}

.projectIntro .pLinkTitle {
  font-family: verdana;
  text-align: center;
  grid-area: title;
  width: 50%;
  border-bottom: 5px solid #2196f3;
  padding-bottom: 5px;
}

.projectIntro .kodflixLink {
  grid-area: kodflixLink;
  justify-self: center;
}

.projectIntro .kodflixLink .kLinkImg {
  width: 30%;
}

.projectIntro .projects {
  grid-area: projects;
  color: rgb(39, 39, 39);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

.projectIntro .projects:hover {
  color: #2196f3;
}
