.projectIntro {
  display: grid;
  grid-template-areas: "title title" "kodflixLink carrateLink" "more-projects more-projects";
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 3%;
  grid-gap: 7%;
  margin-top: 3%;
  box-sizing: border-box;
  background-color: white;
}

.pLinkTitle {
  font-family: "Tajawal", sans-serif;
  text-align: center;
  grid-area: title;
  width: 30%;
}

.kodflixLink {
  grid-area: kodflixLink;
  width: 40%;
  justify-self: flex-end;
  display: grid;
}

.carrateLink {
  grid-area: carrateLink;
  width: 40%;
  justify-self: flex-start;
}

.kLinkLetter {
  justify-self: end;
}

.cLinkImg,
.kLinkLetter {
  width: 50%;
  height: auto;
}

.kLinkLetter:hover,
.cLinkImg:hover {
  transform: scale(1.2);
}

.more-projects {
  grid-area: more-projects;
  color: rgb(39, 39, 39);
  font-weight: bold;
  font-family: "Tajawal", sans-serif;
  text-decoration: none;
  font-style: italic;
}

.more-projects:hover {
  color: #2196f3;
}

@media only screen and (max-width: 900px) {
  .pLinkTitle {
    width: 80%;
  }
}
