.projectIntro {
  display: grid;
  grid-template-areas: "title" "kodflix" "projects";
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.projectIntro .title {
  font-family: verdana;
  text-align: center;
  grid-area: title;
  width: 50%;
  border-bottom: 5px solid #2196f3;
  padding-bottom: 5px;
}

.projectIntro .kodflix {
  grid-area: kodflix;
  align-self: center;
}

.projectIntro .projects {
  grid-area: projects;
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

.projectIntro .projects:hover {
  color: #2196f3;
}

.projectIntro img {
  width: 20%;
  height: auto;
  padding: 10%;
}
