.projects .title-grid .title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5%;
  width: 20%;
}

.projects .title-grid {
  display: grid;
  justify-items: center;
}

.projects .kodflix {
  display: grid;
  text-align: center;
  justify-items: center;
  justify-content: center;
  grid-template-areas:
    "title title title title title"
    "logo logo k-caption k-caption k-caption"
    "logo logo k-caption k-caption k-caption"
    "logo logo link link link";
}

.kodflix-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5%;
  grid-area: title;
  width: 20%;
}

.projects .kodflix .kodflixLink {
  grid-area: link;
}

.projects .kodflix .kodflixCaption {
  grid-area: k-caption;
}

.projects .kodflix .home {
  grid-area: home;
}

.projects .kodflix .kodflix-logo {
  grid-area: logo;
  width: 10%;
  height: auto;
}
