.title-grid {
  display: grid;
  justify-items: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.title-grid .projectsTitle {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  width: 25%;
  font-size: 200%;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.kodflix {
  display: grid;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-areas: "kodflixImg kodflixImg kHeader kHeader kHeader" "kodflixImg kodflixImg kCaption kCaption kCaption" "kLink kLink kCaption kCaption kCaption" "kTech kTech kTech kTech kTech";
  padding: 3%;
}

.kHeader {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  justify-self: center;
  grid-area: kHeader;
  width: 20%;
  color: red;
  text-shadow: black;
}

.kLink {
  font-weight: bold;
  font-family: "Tajawal", sans-serif;
  grid-area: kLink;
  color: black;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
}

.kLink:hover {
  color: #2196f3;
  background-color: white;
}

.kTech {
  grid-area: kTech;
}

.cTech,
.kTech {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  width: 100%;
}

.backHome:hover {
  color: #2196f3;
}

.kCaption {
  grid-area: kCaption;
  font-family: "Tajawal", sans-serif;
  font-style: italic;
  text-align: justify;
  font-size: 115%;
  background-color: white;
  color: black;
  padding: 8%;
}

.kodflixImg {
  grid-area: kodflixImg;
  width: 40%;
}

.carrate {
  display: grid;
  grid-template-areas: "carrateImg carrateImg cHeader cHeader cHeader" "carrateImg carrateImg cCaption cCaption cCaption" "carrateImg carrateImg cCaption cCaption cCaption" "cTech cTech cTech cTech cTech";
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-gap: 3%;
  padding: 3%;
}

.cHeader {
  grid-area: cHeader;
  text-align: center;
  font-family: "Tajawal", sans-serif;
  justify-self: center;
  width: 20%;
  color: red;
  text-shadow: black;
}

.cCaption {
  grid-area: cCaption;
  font-family: "Tajawal", sans-serif;
  font-style: italic;
  text-align: justify;
  font-size: 115%;
  background-color: white;
  color: black;
  padding: 8%;
}

.cLink {
  grid-area: cLink;
  font-weight: bold;
  font-family: "Tajawal", sans-serif;
  color: black;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
}

.cTech {
  grid-area: cTech;
}

.carrateImg {
  grid-area: carrateImg;
  width: 40%;
}

.backHomeContainer {
  justify-items: center;
  display: grid;
}

.backHome {
  text-align: center;
  font-weight: bold;
  font-family: "Tajawal", sans-serif;
  color: black;
  font-size: 100%;
  text-decoration: none;
}

.kodflixHome {
  grid-area: homeScreen;
  width: 30%;
}

.skills-item-img.projects {
  width: 20%;
}

@media only screen and (max-width: 950px) {
  .kodflix {
    grid-template-areas:
      "kHeader"
      "kodflixImg"
      "kCaption"
      "kTech";
  }

  .carrate {
    grid-template-areas:
      "cHeader"
      "carrateImg"
      "cCaption"
      "cTech";
  }

  .kHeader {
    width: 70%;
  }

  .title-grid .projectsTitle {
    width: 60%;
    margin-top: 60px;
  }
}
